body,
html {
	width: 100%;
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
	background-size: 100% auto;
}

.person {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	padding: 32 96 32 96;
}

.person__info {
	width: 30%;	
}

.person__contacts {
	width: 70%;
	padding: 50px 32px;
}

.person__details {
	box-sizing: border-box;
}

.avatar {
	/* добавьте ваш код  */ 
}

.avatar__picture {
	border: 25px solid white;
	border-radius: 50%;
	box-shadow: 0 0 7px #666;
	transition: 2s;
	margin: 32px 32px 32px 32px;    
}

     .avatar__picture:hover {
         border: 25px solid rgb(12, 174, 238);
	     transform: rotate(180deg);
}

.contacts {
	list-style-type: none;
	padding: 32;
}

.contacts__name {
	color: #000;
	font-size: 32pt;
	font-weight: 600;
}

.contacts__role {
	color: #000;
	font-size: 19.2pt;
	font-weight: 600;
}

.contacts__item {
	color: #000;
	font-size: 16pt;
	font-weight: 600;
}

.contacts__title {
	/* добавьте ваш код  */
}

.contacts__link {
	color: gray;
	font-size: 16pt;
	font-style: italic;
}
     .contacts__link::after {
         content: attr(data-info);
         position: absolute;
		 font-size: 10pt;
         padding: 0 8 0 8;
         transform: translateX(-50%);
         color: rgb(0, 0, 0);
         background-image: linear-gradient(rgb(238, 239, 245), rgb(179, 215, 236));
         border-radius: 4px;
         font-style: italic;
         opacity: 0;
         transition: 1s;
}

     .contacts__link:hover::after {
	     opacity: 1;
}

.paragraph {
	text-indent: 1em;
	padding: 16px;
	text-align: justify;
	color: #000;
	font-size: 16pt;
	font-weight: normal;
}

.paragraph_last {
	padding-bottom: 48px;
}
