body,
html {
	width: 100%;
	margin: auto;
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
	background-size: 100% auto;
}

.person {
	margin-left: 32px;
}

.person__info {
	/* добавьте ваш код  */ 	
}

.person__contacts {
	padding: 100px 32px;
	padding-bottom: 100px;
}

.person__details {
 	/* добавьте ваш код  */ 
}

.avatar {
	display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.avatar__picture {
	border: 25px solid white;
	border-radius: 50%;
	box-shadow: 0 0 7px #666;
	transition: border-width 1s linear;
	margin: 32px 32px 32px 32px;
    width: 30%;
	float: left;
}

.avatar__picture:hover {
	border: 25px solid rgb(12, 174, 238);
	border-radius: 50%;
	box-shadow: 0 0 7px #666;
	transition: border-width 1s linear;
	margin: 32px 32px 32px 32px;
    width: 30%;
	float: left;
}

.contacts {
	margin-left: 0; 
    padding-left: 0;
	list-style-type: none;
	margin: 60;
}

.contacts__name {
	color: #000;
	font-size: 32pt;
	font-weight: 600;
}

.contacts__role {
	color: #000;
	font-size: 19.2pt;
	font-weight: 600;
}

.contacts__item {
	color: #000;
	font-size: 16pt;
	font-weight: 600;
}

.contacts__title {
	color: #000;
	font-size: 16pt;
	font-weight: 600;
}
.contacts__title: after {
	/* добавьте ваш код  */
}
.contacts__link {
	color: gray;
	font-size: 16pt;
	font-style: italic;
}

.paragraph {
	text-indent: 1em;
	padding: 16px;
	text-align: justify;
	color: #000;
	font-size: 16pt;
	font-weight: normal;
}

.paragraph_last {
	padding-bottom: 48px;
}
